# A * ensures that everything will be ignored.


# Ignore folders.
.storage
.cloud
.google.token
.ios.conf
.uuid
adb
ssl

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml

*~
\#*
*.db
*.log
*.pickle
*.session
*.conf
